body{
    text-align: center;
    background-image: url("ss.png"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.btn{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 10%;
    margin: 50px;
}
.container{
    display: flex;
    justify-content: center;

}
.pink{
    background-color: pink;
}
.blue{
    background-color: skyblue;
}
.brown{
    background-color: burlywood;
}
.yellow{
    background-color: yellow;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: greenyellow;
}
